nifi_templates/ImgurLoadTemplate.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>d33e9654-018b-1000-427d-e8ba6e6362d8</groupId>
    <name>ImgurLoadTemplate2</name>
    <snippet>
        <controllerServices>
            <id>a5c7b7fa-3c4d-32f0-0000-000000000000</id>
            <parentGroupId>95cd2dea-b4c3-39c7-0000-000000000000</parentGroupId>
            <versionedComponentId>a5c7b7fa-3c4d-32f0-a7c5-8b12ec3b285e</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-distributed-cache-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.23.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Server Hostname</key>
                    <value>
                        <name>Server Hostname</name>
                    </value>
                </entry>
                <entry>
                    <key>Server Port</key>
                    <value>
                        <name>Server Port</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>SSL Context Service</name>
                    </value>
                </entry>
                <entry>
                    <key>Communications Timeout</key>
                    <value>
                        <name>Communications Timeout</name>
                    </value>
                </entry>
            </descriptors>
            <name>GlobalCacheService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Server Hostname</key>
                    <value>localhost</value>
                </entry>
                <entry>
                    <key>Server Port</key>
                    <value>4557</value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                </entry>
                <entry>
                    <key>Communications Timeout</key>
                    <value>30 secs</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type>
        </controllerServices>
        <processGroups>
            <id>64f2e337-335c-32b8-0000-000000000000</id>
            <parentGroupId>95cd2dea-b4c3-39c7-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>64f2e337-335c-32b8-9cad-f4633de95a5c</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>08658881-3dca-362d-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <versionedComponentId>7bddbe53-c515-30e8-9ede-390e3df37c43</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>904aade7-9df5-3799-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8e1d7486-8d85-3c10-9905-bcf5eb5a824e</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>e03fca0f-9288-308a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f0bce5c1-018d-358f-9e21-bbd1caf37bbf</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>0c3e2117-75b6-39e8-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <versionedComponentId>0c3e2117-75b6-39e8-8201-b89a6ae057a3</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>ff4fab0d-7910-3a5d-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>ed0e02c6-347a-3304-9adb-278d6fa02f95</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>97a5ee0a-ce78-32ed-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>97a5ee0a-ce78-32ed-850c-60f04b98ef1c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>11b302b9-2f32-3539-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <versionedComponentId>f94f6b04-e892-3b27-bcd7-523e3e2d63d4</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>cd827457-5ceb-3dbd-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>f814aac9-3a19-3130-b01c-6d6d4c7d1ff2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>3e743d49-3c23-3a63-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>123b40f2-df46-37e1-bda7-e7f421069959</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1856d965-4b69-3508-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <versionedComponentId>1856d965-4b69-3508-82aa-32a41ce3e72f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>97a5ee0a-ce78-32ed-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>97a5ee0a-ce78-32ed-850c-60f04b98ef1c</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>non-duplicate</selectedRelationships>
                    <source>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>173ff668-f55c-3cb1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8aea6d7e-1bf7-3aeb-8c5f-0a2b7b7bb67c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4e4333b8-62ae-362b-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <versionedComponentId>4e4333b8-62ae-362b-9020-510d5907134d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>d067a5ed-740e-35cf-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>d067a5ed-740e-35cf-95ad-aae407d91e0b</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>b1c0d2c0-9285-3897-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b1c0d2c0-9285-3897-a1ad-ca40c1198ae0</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5202d356-2522-313d-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <versionedComponentId>6b74d011-143a-3018-9b7d-88aec5c7912f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>cd827457-5ceb-3dbd-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>f814aac9-3a19-3130-b01c-6d6d4c7d1ff2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>173ff668-f55c-3cb1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8aea6d7e-1bf7-3aeb-8c5f-0a2b7b7bb67c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5afb1f67-acd1-35ea-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <versionedComponentId>da05fc51-44f9-350c-a181-3f5bd07aee63</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>520a41e1-0495-38d6-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>8962b1ee-2193-3a31-a4d5-1eff1f6421e2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>cd827457-5ceb-3dbd-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>f814aac9-3a19-3130-b01c-6d6d4c7d1ff2</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>96e61c12-a602-3041-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <versionedComponentId>7b8f2b2d-5ee9-3025-ab30-9a163d2918e5</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>661fd2e8-12fe-36e0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>72db0c59-37f8-37fe-b7aa-9b2f849e0353</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>f866a06c-3359-36f1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>390d06ec-89c6-3018-9c04-01345895aa3f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>99c456b3-7b9d-3712-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <versionedComponentId>99c456b3-7b9d-3712-ac85-96a85192998a</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>b1c0d2c0-9285-3897-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b1c0d2c0-9285-3897-a1ad-ca40c1198ae0</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>duplicate</selectedRelationships>
                    <source>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>173ff668-f55c-3cb1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8aea6d7e-1bf7-3aeb-8c5f-0a2b7b7bb67c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a6a92efd-6de1-3f7d-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <versionedComponentId>a6a92efd-6de1-3f7d-8ae0-6f7e8ea0d802</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>d067a5ed-740e-35cf-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>d067a5ed-740e-35cf-95ad-aae407d91e0b</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>non-duplicate</selectedRelationships>
                    <source>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>173ff668-f55c-3cb1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8aea6d7e-1bf7-3aeb-8c5f-0a2b7b7bb67c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>acc1e31b-adfe-3561-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <versionedComponentId>3f6d6646-5f1d-31d3-9352-fd7432d49b09</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>cd827457-5ceb-3dbd-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>f814aac9-3a19-3130-b01c-6d6d4c7d1ff2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>f866a06c-3359-36f1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>390d06ec-89c6-3018-9c04-01345895aa3f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c38dcbfd-8c1d-36e3-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <versionedComponentId>51293958-acce-342f-b2f9-6f76705e3596</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>971cefde-e38a-3d2c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>77602427-4b94-327b-93b5-1f8f46390841</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>3e743d49-3c23-3a63-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>123b40f2-df46-37e1-bda7-e7f421069959</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d126e6f4-71b0-37c7-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <versionedComponentId>e5920977-896c-3b25-9d4c-9acb14a350d2</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>3e743d49-3c23-3a63-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>123b40f2-df46-37e1-bda7-e7f421069959</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>661fd2e8-12fe-36e0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>72db0c59-37f8-37fe-b7aa-9b2f849e0353</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d13c9b33-96b8-3cb3-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <versionedComponentId>a9cf48a9-386d-39c2-809c-286f4e35b3c9</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>173ff668-f55c-3cb1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8aea6d7e-1bf7-3aeb-8c5f-0a2b7b7bb67c</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>971cefde-e38a-3d2c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>77602427-4b94-327b-93b5-1f8f46390841</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e22f6282-e7de-3839-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <versionedComponentId>68238b5d-9102-3b57-9161-b03cc0455bb2</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>cd827457-5ceb-3dbd-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>f814aac9-3a19-3130-b01c-6d6d4c7d1ff2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>nonzero status</selectedRelationships>
                    <source>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>904aade7-9df5-3799-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8e1d7486-8d85-3c10-9905-bcf5eb5a824e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e282dcf9-2a22-3ddc-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <versionedComponentId>e1035435-50a0-397d-a82b-d8d1b348cb0c</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>f866a06c-3359-36f1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>390d06ec-89c6-3018-9c04-01345895aa3f</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>output stream</selectedRelationships>
                    <source>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>904aade7-9df5-3799-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8e1d7486-8d85-3c10-9905-bcf5eb5a824e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>eb3415bc-204a-316a-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <versionedComponentId>eb3415bc-204a-316a-ab96-e59935446d9a</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>cd827457-5ceb-3dbd-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>f814aac9-3a19-3130-b01c-6d6d4c7d1ff2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>97a5ee0a-ce78-32ed-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>97a5ee0a-ce78-32ed-850c-60f04b98ef1c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>eff60186-4fb2-3c1a-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <versionedComponentId>7810cf62-451c-36f2-92a6-2ffc392325bc</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>cd827457-5ceb-3dbd-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>f814aac9-3a19-3130-b01c-6d6d4c7d1ff2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>661fd2e8-12fe-36e0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>72db0c59-37f8-37fe-b7aa-9b2f849e0353</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f24b872b-6f82-3e28-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <versionedComponentId>f24b872b-6f82-3e28-8566-3be94e8a7d73</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>13415a43-c230-3a5f-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>d830c02e-8adf-3b75-829d-acf275705704</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>64f2e337-335c-32b8-0000-000000000000</groupId>
                        <id>d067a5ed-740e-35cf-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>d067a5ed-740e-35cf-95ad-aae407d91e0b</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>cd827457-5ceb-3dbd-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <position>
                        <x>-144.0</x>
                        <y>352.0</y>
                    </position>
                    <versionedComponentId>f814aac9-3a19-3130-b01c-6d6d4c7d1ff2</versionedComponentId>
                </funnels>
                <funnels>
                    <id>d067a5ed-740e-35cf-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <position>
                        <x>360.0</x>
                        <y>832.0</y>
                    </position>
                    <versionedComponentId>d067a5ed-740e-35cf-95ad-aae407d91e0b</versionedComponentId>
                </funnels>
                <outputPorts>
                    <id>13415a43-c230-3a5f-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <position>
                        <x>600.0</x>
                        <y>832.0</y>
                    </position>
                    <versionedComponentId>d830c02e-8adf-3b75-829d-acf275705704</versionedComponentId>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>output_original</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <outputPorts>
                    <id>520a41e1-0495-38d6-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <position>
                        <x>-160.0</x>
                        <y>152.0</y>
                    </position>
                    <versionedComponentId>8962b1ee-2193-3a31-a4d5-1eff1f6421e2</versionedComponentId>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>imgur_process_errors</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <outputPorts>
                    <id>ff4fab0d-7910-3a5d-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <position>
                        <x>600.0</x>
                        <y>640.0</y>
                    </position>
                    <versionedComponentId>ed0e02c6-347a-3304-9adb-278d6fa02f95</versionedComponentId>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>output_filtered</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>173ff668-f55c-3cb1-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <position>
                        <x>-248.0</x>
                        <y>600.0</y>
                    </position>
                    <versionedComponentId>8aea6d7e-1bf7-3aeb-8c5f-0a2b7b7bb67c</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Cache Entry Identifier</key>
<value>
    <name>Cache Entry Identifier</name>
</value>
                            </entry>
                            <entry>
<key>FlowFile Description</key>
<value>
    <name>FlowFile Description</name>
</value>
                            </entry>
                            <entry>
<key>Age Off Duration</key>
<value>
    <name>Age Off Duration</name>
</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>Distributed Cache Service</name>
</value>
                            </entry>
                            <entry>
<key>Cache The Entry Identifier</key>
<value>
    <name>Cache The Entry Identifier</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Cache Entry Identifier</key>
<value>${filename}</value>
                            </entry>
                            <entry>
<key>FlowFile Description</key>
<value></value>
                            </entry>
                            <entry>
<key>Age Off Duration</key>
<value>5 min</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
<value>a5c7b7fa-3c4d-32f0-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Cache The Entry Identifier</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>DetectDuplicateImgur</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>duplicate</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>non-duplicate</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.DetectDuplicate</type>
                </processors>
                <processors>
                    <id>3e743d49-3c23-3a63-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <position>
                        <x>-736.0</x>
                        <y>600.0</y>
                    </position>
                    <versionedComponentId>123b40f2-df46-37e1-bda7-e7f421069959</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>input.id</key>
<value>
    <name>input.id</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>input.id</key>
<value>$.global_id</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExtractGlobalIdProperty</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>661fd2e8-12fe-36e0-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <position>
                        <x>-736.0</x>
                        <y>440.0</y>
                    </position>
                    <versionedComponentId>72db0c59-37f8-37fe-b7aa-9b2f849e0353</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[{
  "operation": "default",
  "spec": {
    "imgSource": "imgur"
  }
}]
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AddImageSource</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>904aade7-9df5-3799-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <position>
                        <x>-736.0</x>
                        <y>80.0</y>
                    </position>
                    <versionedComponentId>8e1d7486-8d85-3c10-9905-bcf5eb5a824e</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>argumentsStrategy</key>
<value>
    <name>argumentsStrategy</name>
</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>
    <dependencies>
        <dependentValues>Command Arguments Property</dependentValues>
        <propertyName>argumentsStrategy</propertyName>
    </dependencies>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <dependencies>
        <dependentValues>Command Arguments Property</dependentValues>
        <propertyName>argumentsStrategy</propertyName>
    </dependencies>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Working Directory</key>
<value>/home/nifi</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>python3</value>
                            </entry>
                            <entry>
<key>argumentsStrategy</key>
<value>Command Arguments Property</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>imgurScript.py -n 3 -id ${id} -p ${password}</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value> </value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>256</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteAPIGetterScript</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>nonzero status</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>output stream</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
                <processors>
                    <id>971cefde-e38a-3d2c-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <position>
                        <x>-736.0</x>
                        <y>792.0</y>
                    </position>
                    <versionedComponentId>77602427-4b94-327b-93b5-1f8f46390841</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${input.id}.json</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ChangeFileName</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>97a5ee0a-ce78-32ed-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <position>
                        <x>192.0</x>
                        <y>600.0</y>
                    </position>
                    <versionedComponentId>97a5ee0a-ce78-32ed-850c-60f04b98ef1c</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[
  {
    "operation": "shift",
    "spec": {
      "global_id": "global_id",
      "account_url": "author",
      "datetime_utc": "created_time",
      "description": "desc",
      "score": "score",
      "url": "url",
      "imgSource": "source"
    }
  }
]</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FilterFields</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>b1c0d2c0-9285-3897-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <position>
                        <x>-248.0</x>
                        <y>792.0</y>
                    </position>
                    <versionedComponentId>b1c0d2c0-9285-3897-a1ad-ca40c1198ae0</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${filename:substringBefore('.json')}-${now():format("yyyy-MM-dd'T'HH:mm:ss")}.json</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ChangeDuplicatesName</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>e03fca0f-9288-308a-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <position>
                        <x>-736.0</x>
                        <y>-104.0</y>
                    </position>
                    <versionedComponentId>f0bce5c1-018d-358f-9e21-bbd1caf37bbf</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>15 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>InvokeAPIGetter</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>f866a06c-3359-36f1-0000-000000000000</id>
                    <parentGroupId>64f2e337-335c-32b8-0000-000000000000</parentGroupId>
                    <position>
                        <x>-736.0</x>
                        <y>264.0</y>
                    </position>
                    <versionedComponentId>390d06ec-89c6-3018-9c04-01345895aa3f</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitGetterOutput</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>ImgurGet</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>11/20/2023 11:44:42 UTC</timestamp>
</template>
