nifi_templates/RedditLoadTemplate.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>d33e9654-018b-1000-427d-e8ba6e6362d8</groupId>
    <name>RedditLoadTemplate</name>
    <snippet>
        <controllerServices>
            <id>a5c7b7fa-3c4d-32f0-0000-000000000000</id>
            <parentGroupId>95cd2dea-b4c3-39c7-0000-000000000000</parentGroupId>
            <versionedComponentId>a5c7b7fa-3c4d-32f0-a7c5-8b12ec3b285e</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-distributed-cache-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.23.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Server Hostname</key>
                    <value>
                        <name>Server Hostname</name>
                    </value>
                </entry>
                <entry>
                    <key>Server Port</key>
                    <value>
                        <name>Server Port</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>SSL Context Service</name>
                    </value>
                </entry>
                <entry>
                    <key>Communications Timeout</key>
                    <value>
                        <name>Communications Timeout</name>
                    </value>
                </entry>
            </descriptors>
            <name>GlobalCacheService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Server Hostname</key>
                    <value>localhost</value>
                </entry>
                <entry>
                    <key>Server Port</key>
                    <value>4557</value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                </entry>
                <entry>
                    <key>Communications Timeout</key>
                    <value>30 secs</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type>
        </controllerServices>
        <processGroups>
            <id>b99ebb3b-8240-39de-0000-000000000000</id>
            <parentGroupId>95cd2dea-b4c3-39c7-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>b99ebb3b-8240-39de-8cb3-2f21732b5c26</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>1f691446-85e6-37c0-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <versionedComponentId>1f691446-85e6-37c0-b09b-1d865449b192</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>277c0bac-96bc-3732-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>277c0bac-96bc-3732-8781-9a7c1d73089e</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>8b2acff0-e122-3e3e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8b2acff0-e122-3e3e-a35e-b4826b051803</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>500cec56-a964-3420-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <versionedComponentId>500cec56-a964-3420-8bf7-57ec7a7ff8e7</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>5d506855-7117-3ef4-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>5d506855-7117-3ef4-9295-c3379d485bea</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>nonzero status</selectedRelationships>
                    <source>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>acd2e90e-b24f-3293-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>acd2e90e-b24f-3293-ba5f-28c96c4006a9</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>57dacf99-eeb9-3d87-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <versionedComponentId>57dacf99-eeb9-3d87-8bda-c6bc08fdc97a</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>bbd4e0ef-4b94-3f4d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>bbd4e0ef-4b94-3f4d-bf93-8dfbb2bc285d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>output stream</selectedRelationships>
                    <source>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>acd2e90e-b24f-3293-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>acd2e90e-b24f-3293-ba5f-28c96c4006a9</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>61942fd8-7e31-3876-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <versionedComponentId>61942fd8-7e31-3876-9d57-008ca7486002</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>53d98664-1e42-357c-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>53d98664-1e42-357c-909e-37366789fe9e</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>f8bfe83b-b4e7-362d-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>f8bfe83b-b4e7-362d-afcd-8e80a8ed3cfc</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6f30fb23-cb07-3940-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <versionedComponentId>6f30fb23-cb07-3940-b8a8-d91e8984047c</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>f6d72a26-a540-3522-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f6d72a26-a540-3522-886d-f4142c313feb</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>8b2c10e5-29a2-31b2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8b2c10e5-29a2-31b2-b712-c905d44b4678</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>716eed76-6c3e-360b-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <versionedComponentId>716eed76-6c3e-360b-9db4-e1bfbe2cc50a</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>f8bfe83b-b4e7-362d-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>f8bfe83b-b4e7-362d-afcd-8e80a8ed3cfc</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>6eea29f8-e08b-3e1b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6eea29f8-e08b-3e1b-ac79-1067ffc3321d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>749f5f42-8fef-3783-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <versionedComponentId>749f5f42-8fef-3783-83b7-ec13aa31b939</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>8b2c10e5-29a2-31b2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8b2c10e5-29a2-31b2-b712-c905d44b4678</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>bbd4e0ef-4b94-3f4d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>bbd4e0ef-4b94-3f4d-bf93-8dfbb2bc285d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>934903a8-647b-3546-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <versionedComponentId>934903a8-647b-3546-a889-9e8ca9bf5c90</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>5d506855-7117-3ef4-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>5d506855-7117-3ef4-9295-c3379d485bea</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>277c0bac-96bc-3732-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>277c0bac-96bc-3732-8781-9a7c1d73089e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9a644d53-3200-3e96-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <versionedComponentId>9a644d53-3200-3e96-a991-153911ce3570</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>5d506855-7117-3ef4-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>5d506855-7117-3ef4-9295-c3379d485bea</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>f6d72a26-a540-3522-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f6d72a26-a540-3522-886d-f4142c313feb</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a5e5e814-5d05-3431-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <versionedComponentId>a5e5e814-5d05-3431-b37d-31f7689d9928</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>5d506855-7117-3ef4-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>5d506855-7117-3ef4-9295-c3379d485bea</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>bbd4e0ef-4b94-3f4d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>bbd4e0ef-4b94-3f4d-bf93-8dfbb2bc285d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b1b38a44-4b88-3834-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <versionedComponentId>b1b38a44-4b88-3834-b8cb-8e5cc4281d43</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>f8bfe83b-b4e7-362d-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>f8bfe83b-b4e7-362d-afcd-8e80a8ed3cfc</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>non-duplicate</selectedRelationships>
                    <source>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>277c0bac-96bc-3732-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>277c0bac-96bc-3732-8781-9a7c1d73089e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c7013b5a-fd4c-3c28-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <versionedComponentId>c7013b5a-fd4c-3c28-804e-994777d70776</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>5d506855-7117-3ef4-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>5d506855-7117-3ef4-9295-c3379d485bea</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>8b2c10e5-29a2-31b2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8b2c10e5-29a2-31b2-b712-c905d44b4678</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c87ab7ac-2bea-3201-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <versionedComponentId>c87ab7ac-2bea-3201-937e-182f063549fa</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>5593f497-b125-3b93-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5593f497-b125-3b93-a665-db013eeb2ac0</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>non-duplicate</selectedRelationships>
                    <source>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>277c0bac-96bc-3732-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>277c0bac-96bc-3732-8781-9a7c1d73089e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d7f82b53-cd81-3c03-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <versionedComponentId>d7f82b53-cd81-3c03-9df2-9b9751cf2c40</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>7519490f-1111-36f8-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>7519490f-1111-36f8-9130-f2645f505b0b</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>5593f497-b125-3b93-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5593f497-b125-3b93-a665-db013eeb2ac0</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>dc52ea29-cbc1-3d1e-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <versionedComponentId>dc52ea29-cbc1-3d1e-9c85-1afbe5f29686</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>5d506855-7117-3ef4-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>5d506855-7117-3ef4-9295-c3379d485bea</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>5593f497-b125-3b93-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5593f497-b125-3b93-a665-db013eeb2ac0</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e4721c8f-bd68-351c-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <versionedComponentId>e4721c8f-bd68-351c-82dd-605b426eabed</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>92c3ee15-2b90-3683-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>92c3ee15-2b90-3683-81d0-097b0ff3bcab</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>5d506855-7117-3ef4-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>5d506855-7117-3ef4-9295-c3379d485bea</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f4d4f7f7-abaa-3e10-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <versionedComponentId>f4d4f7f7-abaa-3e10-93d7-ed58b4456a23</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>8b2acff0-e122-3e3e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8b2acff0-e122-3e3e-a35e-b4826b051803</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>f6d72a26-a540-3522-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f6d72a26-a540-3522-886d-f4142c313feb</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fa3c20ec-ce72-3b87-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <versionedComponentId>fa3c20ec-ce72-3b87-bdf1-bbd4f1ee701c</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>6eea29f8-e08b-3e1b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6eea29f8-e08b-3e1b-ac79-1067ffc3321d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>duplicate</selectedRelationships>
                    <source>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>277c0bac-96bc-3732-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>277c0bac-96bc-3732-8781-9a7c1d73089e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>feba3927-8af6-3533-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <versionedComponentId>feba3927-8af6-3533-9a2c-ff1d6e4947f2</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>acd2e90e-b24f-3293-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>acd2e90e-b24f-3293-ba5f-28c96c4006a9</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b99ebb3b-8240-39de-0000-000000000000</groupId>
                        <id>59f86737-8b61-3712-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>59f86737-8b61-3712-b991-5771fe3e6751</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>5d506855-7117-3ef4-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <position>
                        <x>1152.0</x>
                        <y>496.0</y>
                    </position>
                    <versionedComponentId>5d506855-7117-3ef4-9295-c3379d485bea</versionedComponentId>
                </funnels>
                <funnels>
                    <id>f8bfe83b-b4e7-362d-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <position>
                        <x>1288.0</x>
                        <y>1432.0</y>
                    </position>
                    <versionedComponentId>f8bfe83b-b4e7-362d-afcd-8e80a8ed3cfc</versionedComponentId>
                </funnels>
                <outputPorts>
                    <id>53d98664-1e42-357c-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <position>
                        <x>1184.0</x>
                        <y>1624.0</y>
                    </position>
                    <versionedComponentId>53d98664-1e42-357c-909e-37366789fe9e</versionedComponentId>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>output_original</name>
                    <state>RUNNING</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <outputPorts>
                    <id>7519490f-1111-36f8-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <position>
                        <x>1456.0</x>
                        <y>944.0</y>
                    </position>
                    <versionedComponentId>7519490f-1111-36f8-9130-f2645f505b0b</versionedComponentId>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>output_filtered</name>
                    <state>RUNNING</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <outputPorts>
                    <id>92c3ee15-2b90-3683-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <position>
                        <x>1320.0</x>
                        <y>400.0</y>
                    </position>
                    <versionedComponentId>92c3ee15-2b90-3683-81d0-097b0ff3bcab</versionedComponentId>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>reddit_process_errors</name>
                    <state>RUNNING</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>277c0bac-96bc-3732-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <position>
                        <x>904.0</x>
                        <y>1176.0</y>
                    </position>
                    <versionedComponentId>277c0bac-96bc-3732-8781-9a7c1d73089e</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Cache Entry Identifier</key>
<value>
    <name>Cache Entry Identifier</name>
</value>
                            </entry>
                            <entry>
<key>FlowFile Description</key>
<value>
    <name>FlowFile Description</name>
</value>
                            </entry>
                            <entry>
<key>Age Off Duration</key>
<value>
    <name>Age Off Duration</name>
</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>Distributed Cache Service</name>
</value>
                            </entry>
                            <entry>
<key>Cache The Entry Identifier</key>
<value>
    <name>Cache The Entry Identifier</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Cache Entry Identifier</key>
<value>${filename}</value>
                            </entry>
                            <entry>
<key>FlowFile Description</key>
<value></value>
                            </entry>
                            <entry>
<key>Age Off Duration</key>
<value>5 min</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
<value>a5c7b7fa-3c4d-32f0-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Cache The Entry Identifier</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>DetectDuplicateReddit</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>duplicate</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>non-duplicate</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.DetectDuplicate</type>
                </processors>
                <processors>
                    <id>5593f497-b125-3b93-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <position>
                        <x>1328.0</x>
                        <y>1176.0</y>
                    </position>
                    <versionedComponentId>5593f497-b125-3b93-a665-db013eeb2ac0</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[
  {
    "operation": "shift",
    "spec": {
      "global_id": "global_id",
      "author_fullname": "author",
      "datetime_utc": "created_time",
      "selftext": "desc",
      "score": "score",
      "url": "url",
      "imgSource": "source"
    }
  }
]</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FilterFields</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>59f86737-8b61-3712-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <position>
                        <x>448.0</x>
                        <y>128.0</y>
                    </position>
                    <versionedComponentId>59f86737-8b61-3712-b991-5771fe3e6751</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>15 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>InvokeAPIGetter</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>6eea29f8-e08b-3e1b-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <position>
                        <x>656.0</x>
                        <y>1400.0</y>
                    </position>
                    <versionedComponentId>6eea29f8-e08b-3e1b-ac79-1067ffc3321d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${filename:substringBefore('.json')}-${now():format("yyyy-MM-dd'T'HH:mm:ss")}.json</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ChangeDuplicatesName</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>8b2acff0-e122-3e3e-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <position>
                        <x>448.0</x>
                        <y>1176.0</y>
                    </position>
                    <versionedComponentId>8b2acff0-e122-3e3e-a35e-b4826b051803</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${input.id}-reddit.json</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ChangeFileName</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>8b2c10e5-29a2-31b2-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <position>
                        <x>448.0</x>
                        <y>752.0</y>
                    </position>
                    <versionedComponentId>8b2c10e5-29a2-31b2-b712-c905d44b4678</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>input.id</key>
<value>
    <name>input.id</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>input.id</key>
<value>$.id</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExtractGlobalIdProperty</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>acd2e90e-b24f-3293-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <position>
                        <x>448.0</x>
                        <y>336.0</y>
                    </position>
                    <versionedComponentId>acd2e90e-b24f-3293-ba5f-28c96c4006a9</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>argumentsStrategy</key>
<value>
    <name>argumentsStrategy</name>
</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>
    <dependencies>
        <dependentValues>Command Arguments Property</dependentValues>
        <propertyName>argumentsStrategy</propertyName>
    </dependencies>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <dependencies>
        <dependentValues>Command Arguments Property</dependentValues>
        <propertyName>argumentsStrategy</propertyName>
    </dependencies>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Working Directory</key>
<value>/home/nifi</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>python3</value>
                            </entry>
                            <entry>
<key>argumentsStrategy</key>
<value>Command Arguments Property</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>redditScript.py -n 3 -id ${id} -p ${password}</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value> </value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>256</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteAPIGetterScript</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>nonzero status</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>output stream</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
                <processors>
                    <id>bbd4e0ef-4b94-3f4d-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <position>
                        <x>448.0</x>
                        <y>520.0</y>
                    </position>
                    <versionedComponentId>bbd4e0ef-4b94-3f4d-bf93-8dfbb2bc285d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitGetterOutput</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
                <processors>
                    <id>f6d72a26-a540-3522-0000-000000000000</id>
                    <parentGroupId>b99ebb3b-8240-39de-0000-000000000000</parentGroupId>
                    <position>
                        <x>448.0</x>
                        <y>976.0</y>
                    </position>
                    <versionedComponentId>f6d72a26-a540-3522-886d-f4142c313feb</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[{
  "operation": "default",
  "spec": {
    "imgSource": "reddit",
	"global_id":"${input.id}-reddit"
  }
}]
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AddImageSourceAndGlobalId</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>RedditGet</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>11/20/2023 11:35:20 UTC</timestamp>
</template>
