nifi_templates/TumblrLoadTemplate.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>d33e9654-018b-1000-427d-e8ba6e6362d8</groupId>
    <name>TumblrLoadTemplate</name>
    <snippet>
        <controllerServices>
            <id>a5c7b7fa-3c4d-32f0-0000-000000000000</id>
            <parentGroupId>95cd2dea-b4c3-39c7-0000-000000000000</parentGroupId>
            <versionedComponentId>a5c7b7fa-3c4d-32f0-a7c5-8b12ec3b285e</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-distributed-cache-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.23.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Server Hostname</key>
                    <value>
                        <name>Server Hostname</name>
                    </value>
                </entry>
                <entry>
                    <key>Server Port</key>
                    <value>
                        <name>Server Port</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>SSL Context Service</name>
                    </value>
                </entry>
                <entry>
                    <key>Communications Timeout</key>
                    <value>
                        <name>Communications Timeout</name>
                    </value>
                </entry>
            </descriptors>
            <name>GlobalCacheService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Server Hostname</key>
                    <value>localhost</value>
                </entry>
                <entry>
                    <key>Server Port</key>
                    <value>4557</value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                </entry>
                <entry>
                    <key>Communications Timeout</key>
                    <value>30 secs</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type>
        </controllerServices>
        <processGroups>
            <id>6fecd0a7-5751-310b-0000-000000000000</id>
            <parentGroupId>95cd2dea-b4c3-39c7-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>6fecd0a7-5751-310b-b230-27f56da9f550</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>06129833-298a-3ac5-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <versionedComponentId>06129833-298a-3ac5-9083-cde36fea59e9</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>6e39f528-cedb-303f-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>6e39f528-cedb-303f-90c9-aacd92afeab2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>54856f0e-56e3-3dd3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>31b63bd9-58d9-380e-99a6-e3375899e730</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>0c3f36c5-77af-34d1-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <versionedComponentId>0c3f36c5-77af-34d1-9a1e-087837a2c8e7</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>475b01da-8663-3a76-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>475b01da-8663-3a76-977d-1500889530bc</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>409d93ac-811b-3582-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>409d93ac-811b-3582-b551-a5ed69e541c4</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>107a76a8-dd2f-3390-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <versionedComponentId>107a76a8-dd2f-3390-b08e-d72b79434a09</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>92f68358-6649-35e9-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>6121f4ef-cc75-35d0-8dec-f2a78e7cbc15</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>6e39f528-cedb-303f-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>6e39f528-cedb-303f-90c9-aacd92afeab2</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1603a01f-441b-3064-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <versionedComponentId>ddd41ed6-6cf1-3b5a-bd67-320377de5798</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>78922be3-61b1-354d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>83fa26d1-9bf4-3c88-9046-386eda01f6c4</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>b6b6a1b6-d876-3c3a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>915153a5-1867-3fee-b7c0-502305d448df</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>22ece7d8-4e25-36f0-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <versionedComponentId>22ece7d8-4e25-36f0-a2b9-13e42994412f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>50c2902a-d87d-37df-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>50c2902a-d87d-37df-89cb-caed1c2ccd0a</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>duplicate</selectedRelationships>
                    <source>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>54856f0e-56e3-3dd3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>31b63bd9-58d9-380e-99a6-e3375899e730</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>28763d5e-b080-3711-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <versionedComponentId>28763d5e-b080-3711-aabe-4057d3ed3a14</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>409d93ac-811b-3582-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>409d93ac-811b-3582-b551-a5ed69e541c4</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>non-duplicate</selectedRelationships>
                    <source>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>54856f0e-56e3-3dd3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>31b63bd9-58d9-380e-99a6-e3375899e730</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3a9971ca-2ffc-315a-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <versionedComponentId>70e6c7ac-1a97-3941-b6be-d5392ad90175</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>dc6325ef-f522-3b0d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5df119f4-8a50-3114-aef2-a60d9cd255dc</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>output stream</selectedRelationships>
                    <source>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>78922be3-61b1-354d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>83fa26d1-9bf4-3c88-9046-386eda01f6c4</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4be85b10-8fe2-3359-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <versionedComponentId>4be85b10-8fe2-3359-b4a9-932ad3d14540</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>6e39f528-cedb-303f-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>6e39f528-cedb-303f-90c9-aacd92afeab2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>dc6325ef-f522-3b0d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5df119f4-8a50-3114-aef2-a60d9cd255dc</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5875ed6c-6856-3b83-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <versionedComponentId>dd52744c-eeb4-3c0b-a749-0a95bef1ee3c</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>9d06a41e-5f42-39ef-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c0499958-80f9-339e-976e-1f18ea82f8b9</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>dc6325ef-f522-3b0d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5df119f4-8a50-3114-aef2-a60d9cd255dc</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5db9657e-9055-3d22-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <versionedComponentId>5db9657e-9055-3d22-8114-9bd91b06f549</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>e8af2129-c168-3a8d-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>e8af2129-c168-3a8d-b00f-e847cff511a1</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>67786aac-dc9e-376a-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>67786aac-dc9e-376a-a1d9-244a6a5ae59d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6609e4da-1a55-38a5-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <versionedComponentId>12dd2e27-f04b-320a-a5f4-e574e9aa3f17</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>4e1b00bd-0913-31fd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6fd8ad96-c798-302e-816c-13e82f3f372c</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>d3ab7892-2176-3d35-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ad6433c8-aa04-3742-b888-74a2630245fb</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>aeb2fd67-9262-3457-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <versionedComponentId>aeb2fd67-9262-3457-b5d6-261e65e22128</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>6e39f528-cedb-303f-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>6e39f528-cedb-303f-90c9-aacd92afeab2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>409d93ac-811b-3582-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>409d93ac-811b-3582-b551-a5ed69e541c4</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bb949b03-d99e-310c-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <versionedComponentId>695fff73-86b6-38c9-bd95-b4311326ec6f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>d3ab7892-2176-3d35-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ad6433c8-aa04-3742-b888-74a2630245fb</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>9d06a41e-5f42-39ef-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c0499958-80f9-339e-976e-1f18ea82f8b9</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c355771d-840c-3dc8-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <versionedComponentId>c355771d-840c-3dc8-b9b8-28e75284763e</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>6e39f528-cedb-303f-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>6e39f528-cedb-303f-90c9-aacd92afeab2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>9d06a41e-5f42-39ef-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c0499958-80f9-339e-976e-1f18ea82f8b9</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d0cfc4d0-353f-31fb-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <versionedComponentId>d0cfc4d0-353f-31fb-a7d4-cb5134149c6e</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>6e39f528-cedb-303f-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>6e39f528-cedb-303f-90c9-aacd92afeab2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>nonzero status</selectedRelationships>
                    <source>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>78922be3-61b1-354d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>83fa26d1-9bf4-3c88-9046-386eda01f6c4</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d557da84-bed8-30d4-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <versionedComponentId>d557da84-bed8-30d4-8c0c-69bd68999687</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>67786aac-dc9e-376a-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>67786aac-dc9e-376a-a1d9-244a6a5ae59d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>50c2902a-d87d-37df-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>50c2902a-d87d-37df-89cb-caed1c2ccd0a</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e72e2727-94f1-3f86-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <versionedComponentId>e72e2727-94f1-3f86-a03a-16956d6ec602</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>6e39f528-cedb-303f-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>6e39f528-cedb-303f-90c9-aacd92afeab2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>d3ab7892-2176-3d35-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ad6433c8-aa04-3742-b888-74a2630245fb</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f619da27-b176-3195-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <versionedComponentId>f619da27-b176-3195-b5e5-afc742159977</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>67786aac-dc9e-376a-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>67786aac-dc9e-376a-a1d9-244a6a5ae59d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>non-duplicate</selectedRelationships>
                    <source>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>54856f0e-56e3-3dd3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>31b63bd9-58d9-380e-99a6-e3375899e730</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fe79f294-6f10-3438-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <versionedComponentId>20ec1faa-83e0-32ef-a3d4-b3d2cd417423</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>54856f0e-56e3-3dd3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>31b63bd9-58d9-380e-99a6-e3375899e730</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6fecd0a7-5751-310b-0000-000000000000</groupId>
                        <id>4e1b00bd-0913-31fd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6fd8ad96-c798-302e-816c-13e82f3f372c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <funnels>
                    <id>67786aac-dc9e-376a-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <position>
                        <x>1348.5121640188775</x>
                        <y>1187.1974867076615</y>
                    </position>
                    <versionedComponentId>67786aac-dc9e-376a-a1d9-244a6a5ae59d</versionedComponentId>
                </funnels>
                <funnels>
                    <id>6e39f528-cedb-303f-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <position>
                        <x>1199.39088189691</x>
                        <y>352.77651961719204</y>
                    </position>
                    <versionedComponentId>6e39f528-cedb-303f-90c9-aacd92afeab2</versionedComponentId>
                </funnels>
                <outputPorts>
                    <id>475b01da-8663-3a76-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <position>
                        <x>2080.0</x>
                        <y>1056.0</y>
                    </position>
                    <versionedComponentId>475b01da-8663-3a76-977d-1500889530bc</versionedComponentId>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>output_filtered</name>
                    <state>RUNNING</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <outputPorts>
                    <id>92f68358-6649-35e9-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <position>
                        <x>1472.0</x>
                        <y>256.0</y>
                    </position>
                    <versionedComponentId>6121f4ef-cc75-35d0-8dec-f2a78e7cbc15</versionedComponentId>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>tumblr_process_errors</name>
                    <state>RUNNING</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <outputPorts>
                    <id>e8af2129-c168-3a8d-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <position>
                        <x>1288.0</x>
                        <y>1424.0</y>
                    </position>
                    <versionedComponentId>e8af2129-c168-3a8d-b00f-e847cff511a1</versionedComponentId>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>output_original</name>
                    <state>RUNNING</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>409d93ac-811b-3582-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <position>
                        <x>1440.0</x>
                        <y>920.0</y>
                    </position>
                    <versionedComponentId>409d93ac-811b-3582-b551-a5ed69e541c4</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[
  {
    "operation": "shift",
    "spec": {
      "global_id": "global_id",
      "author": "author",
      "datetime": "created_time",
      "description": "desc",
      "note_count": "score",
      "img": "url",
      "imgSource": "source"
    }
  }
]</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FilterFields</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>4e1b00bd-0913-31fd-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <position>
                        <x>624.0</x>
                        <y>920.0</y>
                    </position>
                    <versionedComponentId>6fd8ad96-c798-302e-816c-13e82f3f372c</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${input.id}-tumblr.json</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ChangeFileName</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>50c2902a-d87d-37df-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <position>
                        <x>712.0</x>
                        <y>1136.0</y>
                    </position>
                    <versionedComponentId>50c2902a-d87d-37df-89cb-caed1c2ccd0a</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${filename:substringBefore('.json')}-${now():format("yyyy-MM-dd'T'HH:mm:ss")}.json</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ChangeDuplicatesName</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>54856f0e-56e3-3dd3-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <position>
                        <x>1016.0</x>
                        <y>920.0</y>
                    </position>
                    <versionedComponentId>31b63bd9-58d9-380e-99a6-e3375899e730</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Cache Entry Identifier</key>
<value>
    <name>Cache Entry Identifier</name>
</value>
                            </entry>
                            <entry>
<key>FlowFile Description</key>
<value>
    <name>FlowFile Description</name>
</value>
                            </entry>
                            <entry>
<key>Age Off Duration</key>
<value>
    <name>Age Off Duration</name>
</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>Distributed Cache Service</name>
</value>
                            </entry>
                            <entry>
<key>Cache The Entry Identifier</key>
<value>
    <name>Cache The Entry Identifier</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Cache Entry Identifier</key>
<value>${filename}</value>
                            </entry>
                            <entry>
<key>FlowFile Description</key>
<value></value>
                            </entry>
                            <entry>
<key>Age Off Duration</key>
<value>5 min</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
<value>a5c7b7fa-3c4d-32f0-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Cache The Entry Identifier</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>DetectDuplicateTumblr</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>duplicate</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>non-duplicate</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.DetectDuplicate</type>
                </processors>
                <processors>
                    <id>78922be3-61b1-354d-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <position>
                        <x>472.0</x>
                        <y>96.0</y>
                    </position>
                    <versionedComponentId>83fa26d1-9bf4-3c88-9046-386eda01f6c4</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>argumentsStrategy</key>
<value>
    <name>argumentsStrategy</name>
</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>
    <dependencies>
        <dependentValues>Command Arguments Property</dependentValues>
        <propertyName>argumentsStrategy</propertyName>
    </dependencies>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <dependencies>
        <dependentValues>Command Arguments Property</dependentValues>
        <propertyName>argumentsStrategy</propertyName>
    </dependencies>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Working Directory</key>
<value>/home/nifi</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>python3</value>
                            </entry>
                            <entry>
<key>argumentsStrategy</key>
<value>Command Arguments Property</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>tumblrScript.py -n 3 -ck ${consumer_key} -cs ${consumer_secret} -ot ${oauth_token} -os ${oauth_secret}</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value> </value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>256</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteAPIGetterScript</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>nonzero status</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>output stream</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
                <processors>
                    <id>9d06a41e-5f42-39ef-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <position>
                        <x>472.0</x>
                        <y>488.0</y>
                    </position>
                    <versionedComponentId>c0499958-80f9-339e-976e-1f18ea82f8b9</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>input.id</key>
<value>
    <name>input.id</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>input.id</key>
<value>$.id</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExtractIdProperty</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>b6b6a1b6-d876-3c3a-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <position>
                        <x>472.0</x>
                        <y>-96.0</y>
                    </position>
                    <versionedComponentId>915153a5-1867-3fee-b7c0-502305d448df</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>15 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>InvokeAPIGetter</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>d3ab7892-2176-3d35-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <position>
                        <x>472.0</x>
                        <y>680.0</y>
                    </position>
                    <versionedComponentId>ad6433c8-aa04-3742-b888-74a2630245fb</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[{
  "operation": "default",
  "spec": {
    "imgSource": "tumblr",
	"global_id":"${input.id}-tumblr"
  }
}]
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AddImageSourceAndGlobalId</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>dc6325ef-f522-3b0d-0000-000000000000</id>
                    <parentGroupId>6fecd0a7-5751-310b-0000-000000000000</parentGroupId>
                    <position>
                        <x>472.0</x>
                        <y>296.0</y>
                    </position>
                    <versionedComponentId>5df119f4-8a50-3114-aef2-a60d9cd255dc</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitGetterOutput</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>TumblrGet</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>11/20/2023 11:35:07 UTC</timestamp>
</template>
